.form-input {
  color: var(--color-default);
  position: relative;
  box-shadow:none;
  overflow: hidden;
  background-clip: padding-box;
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-property: border-color, color;
  cursor: text;
}
.form-input label {
  display: block;
  position: absolute;
  top: 50%;
  color: var(--label-color);
  transform: translate3d(0, -50%, 0);
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(.645, .045, .355,1);
  transition-property: transform, color;
  transform-origin: 0 0;
  cursor: text;
  font-size: var(--body-font-size);
}
.form-input input:focus {
  border:none;
  border-bottom: 1px solid var(--color-primary);
  outline:0;
}
.form-input input:focus + label,
.form-input input:valid + label,
.form-input input:invalid:not([value=""]) + label {
  transform: translate3d(0, -92%, 0)scale(.75);
}
.form-input input:focus + label {
  color:var(--color-primary);
}
.form-input input:valid + label {
  color: var(--color-success);
}
.form-input input:invalid:not([value=""]) + label {
  color: var(--color-error);
}
.form-input input:valid {
  border:none;
  border-bottom:solid 1px var(--color-success);
  outline:0;
}
.form-input input:invalid:not([value=""]) {
  border:none;
  border-bottom:solid 1px var(--color-error);
  outline:0;
}
.form-input input, .form-input select {
  display: block;
  margin: 0;
  padding: calc(var(--body-font-size) * .75 + var(--padding-vertical)) 0 calc(var(--padding-vertical) / 4);
  width: 100%;
  background: transparent;
  box-shadow: none;
  font-size: var(--body-font-size);
  line-height: var(--line-height);
  cursor: text;
  border: none;
  border-bottom: 1px solid var(--color-default);
}
button {
  margin-top: var(--padding-vertical);
  border:solid 1px var(--color-primary);
  background: var(--color-primary);
  color: #fff;
  padding: var(--padding-vertical) var(--padding-horizontal);
  font-size: var(--body-font-size);
  margin-top: var(--margin-vertical);
}
fieldset {
  border:none;
  margin-top: calc(var(--margin-vertical) * 2);
}
legend {
  display:inline-block;
  padding-top: var(--padding-vertical);
  font-size: 1.5em;
}
