nav {
  margin:0 0 var(--margin-vertical);
  overflow:hidden;
  background:var(--color-default);
}

nav ul.left  {float:left;}
nav ul.right {float:right;}

nav ul li {
  display: inline-block;
}
nav ul li a {
  display:inline-block;
  color:var(--nav-link-color);
  text-decoration:none;
  padding:var(--padding-vertical) var(--padding-horizontal);
}
nav ul li a:hover {
  color:var(--nav-link-color-hover);
  border:0;
  text-shadow:none;
  background-image: none;
}
