:root {
  --padding-horizontal: 2vw;
  --padding-vertical:   2vh;
  --margin-horizontal:  2vw;
  --margin-vertical:    2vh;

  --body-font-size: calc(12.8px + 1vw);
  --body-font-weight: 300;
  --body-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  --link-color: #039be5;

  --line-height: var(--body-font-size);

  --h1-font-size: calc(var(--body-font-size) * 2);
  --h2-font-size: calc(var(--body-font-size) * 1.5);
  --h3-font-size: calc(var(--body-font-size) * 1.17);
  --h4-font-size: calc(var(--body-font-size) * 1);
  --h5-font-size: calc(var(--body-font-size) * .83);
  --h6-font-size: calc(var(--body-font-size) * .67);

  --border-radius: .25em;

  --grid-columns: 12;
  --grid-gutter: 2vw;
  --max-viewport-width: 1200px;

  --nav-link-color: #fff;
  --nav-link-color-hover: #ddd;
}
