.container {
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}
svg {
  margin-bottom:-0.125em;
}
main {
  grid-column-start: 1;
  grid-column-end: span 13;
  order: 1;
}
aside {
  grid-column-start: 1;
  grid-column-end: span 13;
  order: 0;
}

@media all and (min-width: 50em) {
  main {
    grid-column-start: 1;
    grid-column-end: span 8;
    order: 0;
  }
  aside {
    grid-column-start: 9;
    grid-column-end: span 4;
    order: 1;
  }
}
